
    <!-- Header -->
    <header>
        <div class="container">
                <div class="intro-lead-in"></div>
                <div class="intro-heading">Features</div>
        </div>
    </header>

    <section id="Types">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Types</h2>
                    <h3 class="section-subheading text-muted">Collection of modern types, with a central API</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-wrench fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Diverse Types</h4>
                    <p class="text-muted">Unboxed vectors, Boxed vectors, Packed UTF8 String, Bitmap.</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-gear fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">API</h4>
                    <p class="text-muted">Polymorphic API working on many types similarly; let the types drive the implementation detail</p>
                </div>
            </div>
        </div>
    </section>

    <section id="Numerical">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Numerical</h2>
                    <h3 class="section-subheading text-muted">modernizing Haskell numbers</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-briefcase fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Better Classes</h4>
                    <p class="text-muted">No more hard-to-fit Num class, replaced by Additive, Subtractive, Multiplicative ...</p>
                </div>
                <div class="col-md-6">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-bar-chart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">More APIs</h4>
                    <p class="text-muted"></p>
                </div>
            </div>
        </div>
    </section>

    <section id="SelfSuccient">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Self Sufficient</h2>
                    <h3 class="section-subheading text-muted">No dependencies, better support, battery included</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-battery-full fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">No dependencies</h4>
                    <p class="text-muted">Apart from Haskell base (and its core libraries like ghc-prim)</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-cogs fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Easier to change</h4>
                    <p class="text-muted">A common place to fix bug and add feature</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-eye fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Easier to track</h4>
                    <p class="text-muted">Simpler versioning for everyone, less independent bits to track</p>
                </div>
            </div>
        </div>
    </section>
